<%- include('partials/adminHeader') %>



    <section class="text-gray-400 bg-gray-900 body-font">
        <a class="text-indigo-400" href="/admin/posts/delete/<%=singleBlogMain._id%>">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
            </svg>
        </a>
        <div class="container mx-auto flex flex-col px-5 py-24 justify-center items-center">
            <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero"
                src="<%= singleBlogMain.imageLink %>">
            <div class="w-full md:w-2/3 flex flex-col mb-16 items-center text-center">
                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">
                    <%= singleBlogMain.title %>
                </h1>
                <p class="mb-8 leading-relaxed custom-font-setting" id="sample-text"></p>

                <%- singleBlogMain.description %>

            </div>
        </div>
    </section>

    <script>

    </script>

    <%- include('partials/adminFooter') %>